{% extends "master.html" %}


{% block title %}
  Listado de Edificios | {{ block.super }}
{% endblock %}

{% block content %}


<table id="tabla_datos">

  <thead>
  
    <tr>
      <th>Nombre</th>
      <th>Direccion</th>
      <th>Ciudad</th>
      <th>Tipo </th>

    </tr>
  </thead>

  {% for e in edificio %}
  <tr>
    <td> {{e.nombre}} </td>
    <td> {{e.direccion}} </td>
    <td> {{e.ciudad}}</td>
    <td> {{e.tipo}}</td>
    <td>
      <ul>
        {% for t in e.num_edificio.all %}

            <!--<span>{{t.ciudad}} - {{t.tipo}} - [<a href=""></a>] </span>---> 

        {% endfor %}
      </ul>
        
    </td>
    <td> <a href="{% url 'obtener_edificio' e.id %}">ver</a> <br>
      <a href="{% url 'editar_edificio'  e.id %}">editar <i class="fas fa-eye text-success fa-lg  mr-2"></i></a> <br>
      <a href="{% url 'eliminar_edificio' e.id %}"
      onclick="return confirm('¿Está seguro de la eliminación?')" >
      <i class="fas fa-eye text-success fa-lg  mr-2"></i>
      eliminar</a>
    </td>

  </tr>
  {% endfor %}
</table>

<script type="text/javascript">
  $(document).ready( function () {
    $('#tabla_datos').DataTable();
  });
</script>

{% endblock %}
